{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}

<div class="col-md-6 mx-auto">
<form action="/presupuesto/editarPresupuesto/{{presupuesto._id}}?_method=PUT" method="POST">
    <h1>Crear un nuevo presupuesto</h1>
  <div class="form-group">
    <label for="exampleInputEmail1">Nombre del presupuesto</label>
    <input type="text" class="form-control" placeholder="Nombre" name="nombre" value="{{presupuesto.nombre}}">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Descripcion</label>
    <textarea type="text" class="form-control"  placeholder="Descripción" name="descripcion" >{{presupuesto.descripcion}}</textarea>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Ingreso inicial</label>
    <input type="number" class="form-control"  placeholder="Ingreso" name="ingresoIncial" value="{{presupuesto.ingresoIncial}}">
  </div>
  <a href="/presupuesto/verDetalles/{{presupuesto._id}}" type="button" class="btn btn-primary btn-block">Ver detalles</a>
  <button type="submit" class="btn btn-success btn-block">Guardar</button>
</form>
</div>