<div class="row">
  {{#each presupuestos}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">{{ nombre }}<a href="/presupuesto/editar/{{_id}}"><i class="fas fa-edit"></i></a>
        </h4>
        <p>{{ descripcion }} L. {{ingresoIncial}}</p>
        <!-- DELETE REQUEST -->
        <form action="/presupuesto/eliminar/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <a type="button" class="btn btn-success btn-block btn-sm" href="/presupuesto/verDetalles/{{_id}}">Ver</a>
          <button type="submit" class="btn btn-danger btn-block btn-sm">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Bienvenido {{user.name}}</h1>
      <p clsss="lead">No hay presupuesto creados.</p>
      <a href="/presupuesto/crear" class="btn btn-success btn-block">Crea uno nuevo!</a>
    </div>
  </div>
  {{/each}}
</div>