<div class="row">
  <h1>{{ presupuesto.nombre }}</h1>
</div>
<div class="row"></div>
  <p>{{ presupuesto.descripcion }}</p>
</div>
<div class="row">
  <a href="/presupuesto/crearDetalle/{{presupuesto._id}}" class="btn btn-success">Crear detalle</a>
</div>
<br>
<div class="row">
  
  <table class="table">
    
  <thead class="thead-dark">
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Tipo</th>
      <th scope="col">Valor estimado</th>
      <th scope="col">Valor real</th>
      <th scope="col">Diferencia</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{presupuesto.fecha}}</td>
      <td>Presupuesto inicial</td>
      <td>------</td>
      <td>------</td>
      <td id="presupuestoInicial">{{presupuesto.ingresoIncial}}</td>
      <td>------</td>
      <td>
        
      </td>
      
    </tr>
  {{#each detalles}}
    <tr >
      <td>{{fecha}}</td>
      <td>{{descripcion}}</td>
      <td id="tipo-{{_id}}">{{tipo}}</td>
      <td id="filaValorEstimado-{{_id}}">{{valorPrevisto}}</td>
      <td id="filaValorReal-{{_id}}">{{valorReal}}</td>
      <td id="diferencia-{{_id}}"></td>
      <td>
        <a href="/detallePresupuesto/editar/{{_id}}"><i class="fas fa-edit"></i></a>
        <a href="/detallePresupuesto/eliminar/{{_id}}"><i class="far fa-trash-alt"></i></a>
      </td>
    </tr>
  
  {{/each}}
  </tbody>
</table>
</div>
<div class="row">

  <table class="table">
    <h2>Resumen final</h1>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Presupuesto inicial</th>
      <th scope="col">Total gastos estimados</th>
      <th scope="col">Total gastos reales</th>
      <th scope="col">Total entradas estimadas</th>
      <th scope="col">Total entradas reales</th>
      <th scope="col">Total final estimado</th>
      <th scope="col">Total final</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{presupuesto.ingresoIncial}}</td>
      <td id="totalGastosEstimados"></td>
      <td id="totalGastosReales"></td>
      <td id="totalEntradassEstimados"></td>
      <td id="totalEntradassReales"></td>
      <td id="diferenciaTotalEstimada"></td>
      <td id="diferenciaTotal"></td>
    </tr>
  </tbody>
</table>
</div>
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script>
   $(document).ready(function(){
     var valorEstimado = 0, valorReal = 0,  totalGastoEstimado = 0, totalGastoReal = 0, totalEntradaEstimado = 0, totalEntradaReal = 0;

     {{#each detalles}}
       
        valorEstimado = $('#filaValorEstimado-{{_id}}').html();
        valorReal = $('#filaValorReal-{{_id}}').html();
        tipo = $('#tipo-{{_id}}').html();

        if(tipo =='Gasto'){
          totalGastoEstimado = parseInt(totalGastoEstimado) + parseInt(valorEstimado);
          totalGastoReal = parseInt(totalGastoReal) + parseInt(valorReal);
        }else{
          totalEntradaEstimado = parseInt(totalEntradaEstimado) + parseInt(valorEstimado);
          totalEntradaReal = parseInt(totalEntradaReal) + parseInt(valorReal);
        }
         $('#diferencia-{{_id}}').html(valorEstimado - valorReal);
        
     {{/each}}
     
     $('#totalGastosEstimados').html(totalGastoEstimado);
     $('#totalEntradassEstimados').html(totalEntradaEstimado);
     $('#totalGastosReales').html(totalGastoReal);
     $('#totalEntradassReales').html(totalEntradaReal);

     presuestoinicial = $('#presupuestoInicial').html();
     $('#diferenciaTotalEstimada').html(parseInt(presuestoinicial) - parseInt(totalGastoEstimado) + parseInt(totalEntradaEstimado));
     $('#diferenciaTotal').html(parseInt(presuestoinicial) - parseInt(totalGastoReal) + parseInt(totalEntradaReal));

   });
</script>